# Erstattes med .no i produksjon
VITE_BEKK_BASE_URL=https://api.bekk.dev/timekeeper-svc
VITE_BEKK_ENTRA_TENANT_ID=c6ea0b0b-e867-46d4-a70b-4c05887e7f6f
# Verdier for DEV-miljø
VITE_BEKK_ENTRA_CLIENT_ID=05d0e69d-bb21-43b6-bdd0-5eed364561c0
VITE_BEKK_ENTRA_SCOPE=api://f0dd6655-6ddb-4e1a-9376-e97db00856ac/internsystemer-basen-api

VITE_ATLASSIAN_CLOUD_ID=78913e1d-b78a-4c77-a004-5f946034b6da

# false (eller ikke til stede) i produksjon
VITE_DEBUG=true

JIRA_CLIENT_ID=jpyBdUlL0nn7Meu4WcBG2fVq9pzM49Ou
JIRA_CLIENT_SECRET=
OVERRIDE_DEPLOY_URL=http://localhost:5173