@udir:registry=https://www.myget.org/F/pas2/auth/${NPM_TOKEN}/npm/

# When all udir packages are scoped, we could go back to the normal npm repository by removing the line below
registry=https://www.myget.org/F/pas2/auth/${NPM_TOKEN}/npm/