# .github/workflows/tests.yml
name: tests
on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: 
          node-version: 20
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@utdanningsdirektoratet'
      - run: npm install
      - run: npm run test